doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/stylesheets/application.css")
    title Splitr
  body
    nav(class="flex align-center space-between")
      a(href="/" class="logo") Splitr
      a(href="/signout") Sign out
    block header
    block main