extends layout

block header
  header
    h1 Create a New List

block main
  main
    form(action="/new-list" method="post" class="card")
      fieldset
        dl
          dt
            label(for="splitting_with") Between you and:
          dd
            input(type="text" name="splitting_with" id="splitting_with" placeholder="Username")
      fieldset
        button(class="button button-cta") Create List
